* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Roboto", sans-serif;
    color: white;
    background-color: #231B1B;
}
header{
    background-color: #DDFFF7; 
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}
.naveg{
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    padding: 10px;
}
.naveg-items{
    display:flex;
    justify-content: center;
    width: 80%;
    align-items: center; 
 }
.naveg ul{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 75px;
}
.naveg ul li a{
    color: black;
    font-weight: 500;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    }
    @font-face {
        font-family: 'red-wing';
        src: url(Fonts/Redwing-Medium.otf);
    }
.front-page{
    display: center;
    align-items: center;
    justify-content: space-around;
}
.front-page .front-page-items .front-page-title{
    height: 860px;
    background-color: #231B1B;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
}
.front-page .front-page-title span{
    font-family: "Roboto", sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 30px;
    padding: 150px;
    transform: translateY(170px);
    margin-left: 130px;
}
.front-page .front-page-title h1{
    font-size: 80px;
    letter-spacing: 2px; 
    text-transform: uppercase;
    font-family: 'Geomanist';
    padding: 150px;
    transform: translateY(-75px);
}
    
@font-face {
        font-family: 'Geomanist';
        src: url(Fonts/Geomanist-Black.ttf);
    }
.front-page .front-page-image img{
    width: 600px;
    height: auto;
    display: flex;
    place-self: flex-end;
    transform: translateY(-650px);
    margin-right: 150px;
}
.about-me{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    margin-top: -455px;
}
.about-me .about-me-text {
    height: 370px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    transform: translateX(-300px);
}
.element-images {
    height: 370px;
    display: flex;
    justify-content: space-around;
    transform: translateX(-300px);
}
.about-me .about-me-image img {
    clip-path: circle(50% at 50% 50%);
    height: 235px;
    margin-right: 600px;
    align-content: center;
    transform: rotate(346deg);
    margin-top: 1030px;
    padding-left: 130px;
}
.about-me .about-me-text h1{
    font-size: 70px;
    letter-spacing: 2px;
    font-family: 'Geomanist';
    text-transform: uppercase;
    margin-left: -690px;
    transform: rotate(347deg);
    margin-top: -40px;
}
.about-me .about-me-text p{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    line-height: 20px;
    margin-top: 140px;
    font-size: 18px;
    padding-left: 10px;
    transform: rotate(347deg);
    max-width: 600px;
}
.lines-p2{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 600px;
    margin-top: -550px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    line-height: 20px;
    padding-top: 30px;
    font-size: 18px;
    padding-left: 10px;
    margin-left: 600px;
}