* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Roboto", sans-serif;
    color: white;
    
}
header{
    background-color: #E980FC; 
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}
.naveg{
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    padding: 10px;
}
.naveg-items{
    display:flex;
    justify-content: center;
    width: 80%;
    align-items: center; 
 }
.naveg ul{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 75px;
}
.naveg ul li a{
    color: black;
    font-weight: 500;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    }
    @font-face {
        font-family: 'red-wing';
        src: url(Fonts/Redwing-Medium.otf);
    }
.front-page{
    display: center;
    align-items: center;
    justify-content: space-around;
}
.front-page .front-page-items .front-page-title{
    height: 700px;
    background-color: #231B1B;
    display: flex;
    justify-content: start;
    text-align: start;
}
.front-page .front-page-title span{
    align-self: center;
    font-family: "Roboto", sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 30px;
    padding: 150px;
    transform: translateY(-60px);
}
.front-page .front-page-title h1{
    font-size: 80px;
    letter-spacing: 2px;
}
.front-page .front-page-items button {
    height: 80px;
    width: 260px;
    margin-top: 
    padding: 10px 20px;
    border-radius: 100px;
    transition: 0.3s;
    cursor: pointer;
    background-color: #DDFFF7;
    border: none;
    color: var(--preto);
    font-size: 25px;
    font-weight: 600;
}